@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #19191C;
}



.input {
  @apply flex border-solid border px-3 py-3 rounded-[58px];
}